<html>

<body>
  <div class="check">
    <div class="border">
      <div class="container">
        <div class="content">
          <div class="one">
            <div class="title">
              <div id="bold">State Bank Of India </div><br>

              <!-- <div class="name">COMPANY NAME <br>COMPANY ADDRESS<br> CITY, STATE ZIP</div> -->
            </div>
            <table class="following">
              <tr>
                <td class="line">This check is in payment of the following</td>
              </tr>
              <tr>
                <td class="empty line"><input type="text" name="reason" placeholder="INSERT_MEMO" size="13"></td>
              </tr>
              <!-- <tr>
                <td class="empty line"><input type="text" name="reason2" size="13"></td>
              </tr> -->
            </table>


          </div>
          <br>



          <div class="orderof">Pay<input type="text" placeholder="INSERT_AMOUNT" name="amount" size="15">
            <span class="rs"><span class="bd">*********************</span>rs</span>
          </div><br>
          <table class="info">
            <thead>
              <tr>

                <th class="chart">Date</th>
                <th class="chart">Name</th>
                <th class="chart">Check no.</th>
                <th class="chart">Account no.</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="blank short"><input type="text" PLACEHOLDER="  /  /  " name="date" size="15"></td>
                <td class="blank long"><input type="text" PLACEHOLDER="INSERT_NAME" name="name" size="15"></td>
                <td class="blank short"><input type="text" PLACEHOLDER="0000" name="num" size="15"></td>
                <td class="blank long des"><input type="text" PLACEHOLDER="0000" name="acc no" size="15">
                </td>

              </tr>
            </tbody>
          </table><br>
          <button type="button">Print</button>


          <!-- 
          <div class="amount">
            <span class="amounts">
              <p>check</p>
              <p>amount</p>
            </span>  -->
          <!-- <div class="sign"><br>
            </div>
            <div class="box">
              <div class="whole"><input type="text" name="whole" placeholder="0000" size="13"><input type="text"
                  placeholder="00" name="cent" size="13"></div>
              <div class="cent"></div>
            </div> -->

          <!-- <table class="add">
              <tr>
                <td class="lines"><input type="text" PLACEHOLDER="INSERT_ADDRESS" name="address" size="13"></td>
              </tr>
              <tr>
                <td class="lines"><input type="text" PLACEHOLDER="CITY, STATE ZIP" name="citystate" size="13"></td>
              </tr>
              <tr>
                <td class="bank">Bank Name, N.A.</td>
              </tr>
            </table> -->


          <!-- </div>  -->

          <table class="signature">
            <td class="sig"></td>
            <tr>sign
              <td class="mp"></td>
            </tr>
          </table>








        </div>
      </div>
    </div>
  </div>
</body>

</html>